@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}



@if (Model != null)
{
 
    <div class="col-12">

        <table class="table">
            <thead>
                <tr>
                   
                    <th>
                        Adı
                    </th>
                    <th>
                        Fiyatı
                    </th>
                    <th>
                        Açıklaması
                    </th>
                    <th>
                       Kayıt Tarihi
                    </th>
                    <th>
                        İşlemler
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger mr-2" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" asp-route-categoryId="@item.CategoryId">Sil</a>
                            <a class="btn btn-sm btn-warning" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}
